<div class="container d-flex justify-content-center align-items-center mt-5">
  <mat-form-field appearance="outline" class="mat" >
    <mat-label>Country</mat-label>
    <mat-select (selectionChange)="onCountrySelection($event)" >
      <mat-option value="Egypt">Egypt</mat-option>
      <mat-option value="USA">USA</mat-option>
      <mat-option value="France">France</mat-option>
      <mat-option value="Germany">Germany</mat-option>
      <mat-option value="Russia">Russia</mat-option>
    </mat-select>
    <!-- <mat-hint align ="end" >Here's the dropdown arrow ^</mat-hint> -->
  </mat-form-field>
</div>
<div class="container">
  <table class="table">
    <thead class="text-center">
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Country Name</th>
        <th scope="col">Delete</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>
    <tbody class="text-center" >
      <tr *ngFor="let country of countries; let i = index" >
        <th scope="row">{{i+1}}</th>
        <td class="fw-bold " >{{country}}</td>
        <td><button class="btn btn-danger text-white" (click)="DeleteCountry(i)" >Delete</button></td>
        <td><button class="btn btn-warning text-white "(click)="editCountry(i)" >Edit</button></td>
      </tr>
    </tbody>
  </table>
</div>



